@{
    ViewBag.Title = "Users Page";
}

<h2>Users Page:</h2>
<p>Navigate through your account from here</p>


<div class="container">
    @using (Html.BeginForm("ByUser", "Statistics", FormMethod.Post, new { @class = "statistics_class" }))
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Show statistics" class="btn btn-default" />
            </div>
        </div>
    }

    @using (Html.BeginForm("EditUserPage", "UsersPage", FormMethod.Post, new { @class = "user_class" }))
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit Account" class="btn btn-default" />
            </div>
        </div>
    }

    @using (Html.BeginForm("InventoryPage", "Inventory", FormMethod.Post, new { @class = "user_class" }))
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="View characters inventory" class="btn btn-default" />
            </div>
        </div>
    }
    
    @{
        if (HttpContext.Current.User.IsInRole("admin"))
        {
            Html.RenderPartial("~/Views/AdminPage/_Admin.cshtml");
        }
    }
</div>
