@model GameWebApplication.Models.ViewModels.InventoryViewModel

@{
    ViewBag.Title = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inventory:</h2>

@using (Html.BeginForm("ByCharacter", "Inventory", FormMethod.Post, new { @class = "inventory_class" }))
{
    <div class="form-group">
        @Html.DropDownListFor(m => m.selectedCharacter, new SelectList(Model.characters, "Id", "name"), new { @class = "form-control" })
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Select Character" class="btn btn-default" />
        </div>
    </div>
}

@{
    var tableHeader = Model.selectedCharacter == null ? "" : " for \"" + Model.selectedCharacter.Name + "\":";
}

<table id="Characters" class="tg">
    <thead>
        <tr>
            <th>Inventory @tableHeader</th>
        </tr>
    </thead>
    @if (Model.selectedCharacter != null)
    {
        foreach (var item in Model.selectedCharacter.Inventory.Equipments)
        {
            <tr>
                <td>@item.Name</td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>Select a character to display inventory</td>
        </tr>
    }
</table>


<style>
    #Characters {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #Characters td, #Characters th {
            border: 1px solid #ddd;
            padding: 8px;
        }

            #Characters td:nth-child(1) {
                font-weight: bold;
            }

        #Characters tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #Characters th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4e4e4e;
            color: #fffff0;
        }
</style>
