<h2>Game</h2>

Here you will be able to login and view your game data.<br />
<form method="post">
    <div class="container">
        <br />
        <label for="uname"><b>Username:</b></label>
        <br />
        <input type="text" placeholder="Enter Username" name="uname" required>
        <br />
        <br />
        <label for="psw"><b>Password:</b></label>
        <br />
        <input type="password" placeholder="Enter Password" name="psw" required>
        <br />
        <br />
        <button type="submit">Login</button>
        <br />
        <label>
            <input type="checkbox" checked="checked" name="remember"> I am not a fucking robot
        </label>
        <br />
        <input type="text" id="message">
    </div>
</form>