
@{
    ViewBag.Title = "Users View";
}

<h2>Users Page</h2>
<p>Here you can get an overview of all the users created in the system</p>


<form method="post">
    <div class="container">
        <table style="width:100%">
            Leaderboards
            <tr>
                <th>Username</th>
                <th>Character Name</th>
                <th>Kills</th>
            </tr>
            <tr>
                <td>Add code here to insert all users</td>
            </tr>
        </table>
        <br />
    </div>
</form>
